# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb
!/.env.example

# Ignore all default key files.
/config/master.key
/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/storage/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep

# Ignore development files
/.devcontainer

# Ignore Docker volumes
/postgres_data
